body{
  background-color: #e84545;
}

h1{
  color: #2b2e4a;
  margin-left: 17%;
}

img{
  width: 300px;
  height: 200px;
  margin-left: 15%;
}

.erastus{
  margin-top: 8%;
}
li{
  font-size: 20px;
  color: #2b2e4a;
}
h2{
  margin-left: 4%;
  text-decoration: underline;
}
.names{
margin-left: 25%;
margin-top: -30%;
}
.projects{
  margin-top: -13%;
  margin-left: 40%;
}
.band{
  background-color: #903749;
  width: 300px;
  height: 200px;
  border: 15px solid #903749;
}
.kitchen{
  background-color: #903749;
  width: 300px;
  height: 200px;
  border: 20px solid #903749;
  margin-top: -22%;
  margin-left: 40%;
}
h3,h2{
  color: #2b2e4a;
}